@color-footer-text: #888;
@color-hr: #393939;
@colorTextHeader: #525252;
@black: #000;
@color-hover: #8262b5;
@color-border-bottom: #ddd;
@color-bg-header: #222;
@while: #fff;
@icon-checked: #ffff00;
@color-ads-p1: #616161;
@color-date-bg: #a1d1dd;
body {
    .title {
        margin: 75px 0 50px 0;
        .title-p1 {
            font-family: @Montserrat-Medium;
            font-size: 12px;
            letter-spacing: 6px;
            color: @color-hover;
            font-weight: bold;
            margin-bottom: 6px;
        }
        .title-p2 {
            font-family: @Montserrat-Medium;
            font-size: 24px;
            letter-spacing: 2px;
            color: @black;
            font-weight: 700;
        }
        .hr-product {
            margin-left: 0;
            margin-top: 19px;
        }
        hr {
            width: 50px;
            height: 1px;
            background-color: @color-hover;
        }
    }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
        display: none;
    }

    .owl-dots {
        text-align: center;
        margin: 28px 0 0 10px;
        .owl-dot {
            margin-right: 10px;
            background-color: @color-footer-text;
            border-radius: 50%;
            width:10px;
            height:10px;
        }
        .active {
            background-color: @color-hover;
            width:12px;
            height:12px;
        }
    }
}
@import "font";
@import "header";
@import "ads";
@import "product";
@import "blog";
@import "footer";
@import "reponsive";